#wrapper {
  text-align: center;
  /* 每列列宽 */
  -webkit-column-width: 180px;
  /* 列间样式 */
  -webkit-column-rule: 2px dashed #fCFCFC;
  /* 分为多少列显示 */
  // -webkit-column-count: 10;
  /* 列间距 */
  -webkit-column-gap: 10px;
}